body
{
    background: #e0e0e0;
    color: #000;
    margin: 0px;
    padding: 10px;
    font-family: 'Times New Roman', Serif;
    font-size: 16px;
}

div#wrapper
{
    background: #ffffff;
    width: 1200px;
    margin: auto;
    padding: 8px;
    border-radius: 12px;
    border: 1px solid #999999;
}

div#footer
{
    clear: left;
    text-align: center;
    font-size: 13px;
    font-style: italic;
    border-top: 3px solid #006fc9;
}

p
{
    margin: 0px;
}

hr
{
    width: 100%;
    border-top: 1px solid black;
    margin: 0px;
}

table
{
    margin: 0px;
    padding: 0px;
}

span#title
{
    font-weight: bold;
    font-size: 20px;
    margin-left: 6px;
}

span#subtitle
{
    font-weight: bold;
    font-size: 15px;
    font-style: italic;
    margin-left: 8px;
}

span.boldy
{
    font-weight: bold;
}

a:link, a:visited, a:active
{
    color: #00f;
    text-decoration: none;
}

a:hover
{
    color: #c00;
    text-decoration: underline;
}

a.fleft:link, a.fleft:visited, a.fleft:active
{
    float: left;
    color: #00f;
    text-decoration: none;
}

a.fleft:hover
{
    color: #c00;
    text-decoration: underline;
}

form
{
    margin: 0px;
    padding: 0px;
    border: 0px solid black;
}

form input
{
    margin: 0px;
    padding: 0px;
}

form.link
{
    float: left;
    margin: 0px;
    padding: 0px;
    border: 0px solid black;
}

input.link, input.left
{
    background: #ffffff;
    color: #00f;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Times New Roman';
    font-size: 16px;
    font-weight: bold;
}

input.left
{
    background: #f0f0f0;
}

input.link:hover
{
    color: #c00;
    text-decoration: underline;
}

span.link
{
    float: left;
    margin: 0px;
    padding: 0px;
    border: 0px solid black;
}

div#postlink
{
    margin-left: 7px;
}

div#breadcrumb
{
    padding-left: 7px;
    font-weight: bold;
    border: 0px solid black;
}

.clearleft
{
    content: "";
    clear: left;
}

.clearright
{
    content: "";
    clear: right;
}

.clearboth
{
    content: "";
    clear: both;
}

span.error
{
    color: #f00;
}

span.leftspace
{
    float: left;
    width: 242px;
}

table#forums {width: 100%; background: #e0e0e0; border-collapse: collapse; color: #000; font-size: 16px;}
table#forums tr.frame {border: 1px solid #006fc9;}
table#forums td {padding: 7px;}
table#forums td.forumtop {background: #006fc9; border: 1px solid #006fc9; padding: 0px; height: 4px;}
table#forums td.forumleft {width: 220px; background: #f0f0f0;}
table#forums td.forummiddle {width: 280px; background: #f0f0f0;}
table#forums td.forumright {float: left;}
table#forums td.forumfarright {float:left;}
table#forums td.spacer{background: #ffffff; padding: 0px; height: 2px;}

table#topics {width: 100%; background: #e0e0e0; border-collapse: collapse; color: #000; border: 1px solid #006fc9;}
table#topics tr {border-bottom: 1px solid #006fc9;}
table#topics td {padding: 3px 7px;}
table#topics td.topicstop {background: #006fc9; padding: 0px; height: 4px;}
table#topics td.topicleft {width: 400px; background: #f0f0f0;}
table#topics td.topicmiddle1 {width: 270px;}
table#topics td.topicmiddle2 {float: left;}
table#topics td.topicright {float: left;}
div#topicsspacer {background: #ffffff; height: 4px;}

table#posts {width: 100%; border-collapse: collapse; color: #000; font-size: 16px;}
table#posts tr.frame {border: 1px solid #006fc9;}
table#posts td.posttop {background: #006fc9; padding: 2px;}
table#posts td.postleft {width: 220px; background: #f0f0f0; font-weight: bold; vertical-align: top; padding: 7px;}
table#posts td.postright {background: #e0e0e0; vertical-align: top; padding: 7px;}
table#posts td.spacer {background: #ffffff; height: 2px;}

table#topicsnew {width: 100%; border-collapse: collapse; border: 1px solid #006fc9;}
table#topicsnew tr {border-bottom: 1px solid #006fc9;}
table#topicsnew td {background: #e0e0e0; color: #000; padding: 3px 7px;}
table#topicsnew td.tnewtop {background: #006fc9; padding: 0px; height: 4px;}
table#topicsnew td.tnewleft {width: 190px; text-align: right;}
table#topicsnew td.tnewbody {width: 410px; background: #f0f0f0;}
table#topicsnew td.tnewright1 {}
table#topicsnew td.tnewright2 {}

div#topmenu, div#adminmenu 
{
    background: #006fc9; height: 26px;
}

a.inverse, input.inverse {background: #006fc9; color: #fff; font-family: 'Times New Roman'; font-size: 16px; padding: 4px 8px;}
a.inverse {float: left; text-decoration: none;}
a.inverse:hover {text-decoration: underline;}
form.inverse {float: left;}
input.inverse {border: 0px;}
input.inverse:hover {text-decoration: underline;}

div#memberstop
{
    border-top: 6px solid #006fc9;
    border-right: 1px solid #006fc9;
    border-bottom: 3px solid #006fc9;
    border-left: 1px solid #006fc9;
}

table#members
{
    border-collapse: collapse;
}

table#members tr#memtop
{
    border-right: 1px solid #006fc9;
    border-bottom: 3px solid #006fc9;
    border-left: 1px solid #006fc9;
}

table#members tr
{
    border-right: 1px solid #006fc9;
    border-left: 1px solid #006fc9;
}

table#members td
{
    padding: 2px 12px;
}

div.postupright
{
    float: right;
    margin-left: 12px;  
}

div.postupright input
{
    background: #e0e0e0;
}

div.postupright a
{
    font-weight: bold;
} 

textarea
{
    background: #f0f0f0;
    font-family: 'Times New Roman', Serif;
    font-size: 16px;
}

div.thumb
{
    float: left;
    margin-right: 10px;
}

div.message
{
    word-wrap: normal;
}